
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
}
.icon-sm {
    font-size: 2rem;
}
.icon-md {
    font-size: 5rem;
}
.icon-lg {
    font-size: 9rem;
}
.icon-admin {
    font-size: 3rem;
}
.avatar-sm{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}
.avatar-md{
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
}
.img-lg{
    height: 9rem;
    width: 9rem;
    object-fit: cover;
}
.img-home {
    height: 80%;
    width: 100%;
    object-fit: cover;
}
.img-lp{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav-icon {
    font-size: 2rem;
}
.app-name {
    font-size: 1.5rem;
    font-family: 'Cherry Swash', cursive; 
}
.app-nav {
    /* background-color: #95CCFF; */
    /* background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%); */
    background: linear-gradient(-20deg, #95CCFF 0%, #24d292 100%);
}
.top-img {
    width: 80%;
    height: 500px;
    position: relative;
}
@media screen and (max-width:640px){
    .top-img {
        width: 100%;
        height: 400px;
        position: relative;
    }
}
.top-img::after {
    position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px 15px #FFF;
}
.lp-discription {
    font-family: 'Caveat', cursive;
    text-shadow: 3px 4px 3px rgb(61 70 70);
}
.lp-heading {
    font-family: 'Vollkorn', serif;
}
.lp-paragraph {
    font-family: 'Vollkorn', serif;
}
.lp-items {
    height: 220px;
    border: 3px solid #24d292;
    margin-right: 7px;
}
@media screen and (max-width:640px){
    .lp-items {
        width: 50%;
        height: 100%;
        border: 3px solid #24d292;
    }
}
.lp-icon {
    font-size: 2.5rem;
}
.items-text-strong {
    color: orange;
}
.lp-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
    height: 75px;
}
.comment{
    overflow-y: scroll;
}
@media screen and (max-width:500px){
    .comment{
        overflow-y: scroll;
        width: 100%;
        height: 150px;
    }
}
.comment-body{
    width: 100%; 
    position: absolute;
    top: 35px;
}
.memo{
    height: 250px;
    overflow-y: scroll;
}





